<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<a href="/transfer">Make transfer</a><br>
<a href="/logout">Logout</a>
{% for transfer in transfers: %}
<div class="transfer">
    <b>{{transfer[0]}}</b><br>
    {{transfer[1]}}
    {% if transfer[3]: %}
        <span style="color: red">{{transfer[2]}}</span>
    {% else: %}
        <span style="color: green">{{transfer[2]}}</span>
    {% endif %}
    <br>
</div><br>
{% endfor %}

</body>
</html>