<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make transfer</title>
</head>
<body>
<form method="post" action="/approve-transfer">
  <label>Account:
    <input type="text" name="login">
  </label><br>
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Description:
    <input type="text" name="description">
  </label><br>
  <label>Amount:
    <input type="number" name="amount">
  </label><br>
  <input type="submit">
</form>
</body>
</html>